body {
    background-color: rgba(255, 0, 242, 0.329);
    color: rgb(252, 255, 91);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }
  em{
    color: rgb(245, 229, 8);
  } 
  h2{
    color: rgb(255, 255, 255);
  }
  p.italic{
    font-style: italic;
  }
